<div class="row m-0 pt-3 pb-5 align-items-center">
  <div class="col-xl-5 col-lg-4 text-center text-lg-left mb-3 mb-lg-0">
    <h2 class="m-0">"Will you review us" Email</h2>
  </div>

  <div class="col-xl-7 col-lg-8 text-right d-none">
    <button class="btn btn-green-transparent btn-with-toggle d-inline-flex" id="setting-active">
      <span class="pr-2">Active </span>
      <input type="checkbox" id="switch" checked />
      <label for="switch"></label>
    </button>
    <button class="btn btn-blue-transparent">
      <i class="fas fa-paper-plane"></i>
    </button>

    <button class="btn btn-blue-transparent">
      <i class="fas fa-eye"></i>
    </button>

    <button class="btn btn-green">
      <i class="fas fa-check"></i>
      <span>Save</span>
    </button>

    <div class="d-inline ">
      <a href="#." class="btn btn-white text-light-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding: 10px 18px;">
        <i class="fas fa-ellipsis-v"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(480px, 53px, 0px);">
        <!-- Dropdown menu links -->
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <!-- card 1 -->
    <div class="card  shadow overflow-hidden">
      <div class="card-header bg-transparent ">
        <div class="row align-items-center">
          <div class="col">
            <h3 class=" m-0">1. Personalize Design</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form id="personalize_design_form" action="" method="post"  enctype="multipart/form-data">

          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="border p-3 d-flex justify-content-between" style="flex-direction: column;">
                  <div class="text-right">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox" name="" value="">
                      <label for="checkbox" class="float-right"></label>
                    </div>
                  </div>
                  <img id="logo-image-preview" [src]="myEmailLogo" alt="" class="img-fluid mt-3 mb-4">

                  <label for="logo-image-button" class="btn btn-light-blue w-100 m-0">Change</label>
                  <input type="file" id="logo-image-button" name="logo-image-button" class="d-none" accept="image/*" (change)="logoEmail($event);">

                </div>
              </div>

              <div class="col-sm-6">
                <div class="border h-100 p-3 d-flex justify-content-between" style="flex-direction: column;">
                  <div class="text-right">
                  </div>
                  <img id="background-image-preview" [src]="backgroundImageURL" alt="" class="img-fluid mt-3 mb-4">
                  <label for="background-image-button" class="btn btn-light-blue w-100 m-0">Upload Image</label>
                  <input type="file" id="background-image-button" name="background-image-button" class="d-none" accept="image/*" (change)="backgroundImage($event);">

                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-4">
                <p class="m-0 text-muted">Top Background Color</p>
                <div class="position-relative">
                  <input type="text" class="settings-input form-control w-100" [(ngModel)]="topBackColor" name="topBackColor">
                  <input type="color" id="top_background_color" name="top_background_color" class="color-changing-btn" [(ngModel)]="topBackColor" name="topBackColor">
                </div>
              </div>
              <div class="col-sm-4">
                <p class="m-0 text-muted">Review Number Color</p>
                <div class="position-relative">
                  <input type="text" class="settings-input form-control w-100" [(ngModel)]="reviewNumberColor" name="reviewNumberColor">
                  <input type="color" id="review_number_color" name="review_number_color" class="color-changing-btn" [(ngModel)]="reviewNumberColor" name="reviewNumberColor">
                </div>
              </div>
              <div class="col-sm-4">
                <p class="m-0 text-muted">Star Rating Color</p>
                <div class="position-relative">
                  <input type="text" class="settings-input form-control w-100" [(ngModel)]="reviewStarColor" name="reviewStarColor">
                  <input type="color" id="star_rating_color" name="star_rating_color" class="color-changing-btn" [(ngModel)]="reviewStarColor" name="reviewStarColor">
                </div>
              </div>
              <div class="col-sm-12 mt-3">
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-3">
            <p><span class="text-blue">*</span> If you use an image as background, top background color will be hidden</p>
          </div>
          <button id="personalize_design_submit" type="button" (click)="addColors()" class="btn btn-green float-right padding-btn">
            <i class="fas fa-check mr-2"></i>
            <span>Save</span>
          </button>
        </form>
      </div>
    </div>

    <!-- card 2 -->
    <div class="card  shadow overflow-hidden">
      <div class="card-header active bg-transparent ">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="d-inline m-0">2. Email Sent to the User</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form id="email_sent_to_user_form">
          <div class="container">
            <div class="row mb-3">
              <div class="col-sm-12 mb-4">
                <label for="email_subject">Subject</label>
                <input type="text" id="email_subject" class="settings-input form-control w-100 input-form-fields" value="Your Experience with"  [(ngModel)]="emailSubject" name="emailSubject">
              </div>
              <div class="col-sm-12 mb-4">
                <label for="email_heading">Heading</label>
                <input type="text" id="email_heading" class="settings-input form-control w-100 input-form-fields" value="Would you be so kind to recommend us?" [(ngModel)]="emailHeading" name="emailHeading">
              </div>

              <div class="col-sm-12 mb-4">
                <label for="pos-ans">Quick Review</label>
                <input type="text" id="pos-ans" class="settings-input form-control w-100 input-form-fields" [(ngModel)]="addQuickReview" name="addQuickReview">
              </div>

              <div class="col-sm-12">
                <label for="email_message">Message</label>
                <textarea type="text" id="email_message" class="settings-input form-control w-100 input-form-fields" style="min-height: 140px; max-height: 400px;" [(ngModel)]="emailMessage" name="emailMessage">Thanks for choosing. If you have a few minutes, I'd like to invite you to tell us about your experience. Your feedback is very important to us and it would be awesome if you can share it with us and our potential customers.</textarea>
              </div>
            </div>
          </div>
          <button id="email_sent_to_user_submit" type="button" class="btn btn-green float-right padding-btn" (click)="submitMailTemp()">
            <i class="fas fa-check mr-2"></i>
            <span>Save</span>
          </button>
        </form>
      </div>
    </div>

    <!-- card plus between 2 and 3 -->
    <div class="card  shadow overflow-hidden">
      <div class="card-header bg-transparent ">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="d-inline m-0">3. Personalized Touch <span class="badge badge-green badge-pill" style="transform: translateY(-4px);">NEW</span></h3>
          </div>

        </div>
      </div>
      <div class="card-body">
        <form id="personalize_touch_form" action="" method="post"  enctype="multipart/form-data">
          <div class="container">
            <div class="row mb-3">
              <div class="col-sm-12">
                <p class="mb-4">This function allows you to add a "personalized touch" by adding your image at the
                  bottom of the email</p>
                <hr>
              </div>
              <div class="col-sm-12">
                <div class="row mx-0 mb-4 align-items-center">
                  <div class="image">
                    <div class="image-preview-box">
                      <img id="image_preview_box" [src]="avatarUrl" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="image-content">
                    <p class="font-weight-bold">Personal Avatar</p>
                    <p class="m-0 text-muted">The proposed size is 650*110px</p>
                    <p class="text-muted">.jpg , .png , .gif</p>
                    <label for="personal_avatar_input" class="btn btn-light-blue m-0 padding-btn">Upload</label>
                    <input type="file" id="personal_avatar_input" class="d-none" accept="image/*" (change)="uploadAvatar($event);">
                  </div>
                </div>
              </div>


              <div class="col-sm-12 mb-4">
                <label for="full_name">Full Name</label>
                <input type="text" id="full_name" class="settings-input form-control w-100 input-form-fields" [(ngModel)]="fullName" name="fullName">
              </div>

              <div class="col-sm-12">
                <label for="company_role">Company Role</label>
                <input type="text" id="company_role" class="settings-input form-control w-100 input-form-fields" value="Business Manager" [(ngModel)]="companyRole" name="companyRole">
              </div>
            </div>
          </div>
          <button id="personalize_touch_submit" type="button" class="btn btn-green float-right padding-btn" (click)="personalData()">
            <i class="fas fa-check mr-2"></i>
            <span>Save</span>
          </button>
        </form>

      </div>
    </div>
    <!-- card 3 -->

    <!-- card 4 -->
    <div class="card  shadow overflow-hidden">
      <div class="card-header bg-transparent ">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="d-inline m-0">4. Negative Answer Setup</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row mb-3">
            <div class="col-sm-12 mb-4">
              <label for="heading-1">Heading</label>
              <input type="text" id="heading-1" class="settings-input form-control w-100 input-form-fields" value="We apologize for that." [(ngModel)]="negativeHeading" name="negativeHeading">
            </div>
            <div class="col-sm-12 mb-4">
              <label for="message">Message</label>
              <textarea type="text" id="message" class="settings-input form-control w-100 input-form-fields" style="min-height: 140px; max-height: 400px;" [(ngModel)]="negativeMessage" name="negativeMessage">Sorry that your experience was not up to par. Would you mind writing how we could improve?</textarea>
            </div>
          </div>
        </div>
          <button type="button" class="btn btn-green float-right padding-btn" (click)="negativeMsgData()">
            <i class="fas fa-check mr-2"></i>
            <span>Save</span>
          </button>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-8 mx-auto">
    <div class="px-3 py-5 text-center" style="border-radius: 45px; background-color:#D1DCE4;">
      <div class="bg-white my-4">
        <div id="mobile_top_background_color" class="row mx-0" [style.background-color]="topBackColor">
          <div class="col-5">
            <img id="mobile_logo_image_src" [src]="myEmailLogo" alt="" class="img-fluid p-1">
          </div>
          <div class="col-7 d-flex align-items-center justify-content-end">
            <p class="text-right mb-0 px-2">
              <span *ngIf="reviewNumberColor">
                <span id="mobile_review_number_color" class="px-2 font-weight-bold" style="font-size: 14px;" [style.color]="reviewNumberColor">5.0</span>
              </span>

              <span *ngIf="reviewStarColor">
              <i class="fa fa-star mobile_star_rating_color" style="font-size:10px;" [style.color]="reviewStarColor"></i>
              <i class="fa fa-star mobile_star_rating_color" style="font-size:10px;" [style.color]="reviewStarColor"></i>
              <i class="fa fa-star mobile_star_rating_color" style="font-size:10px;" [style.color]="reviewStarColor"></i>
              <i class="fa fa-star mobile_star_rating_color" style="font-size:10px;" [style.color]="reviewStarColor"></i>
              <i class="fa fa-star mobile_star_rating_color" style="font-size:10px;" [style.color]="reviewStarColor"></i>
          </span>
            </p>
          </div>
        </div>
        <hr class="mx-3 my-1">
        <div class="px-3">
          <div class="mt-5 mar-top" style="max-height: 115px; overflow: hidden;">

            <h1 class="h1" id="mobile_email_heading">{{emailHeading}}</h1>
          </div>
          <div class="mt-4" style="max-height: 115px; overflow: hidden;">
            <p id="mobile_email_message" class="font-weight-bold">{{emailMessage}}</p>
          </div>
          <div class="mt-4">
            <button class="btn btn-green btn-block mb-3 rounded-0">
              <span>{{addQuickReview}}</span>
            </button>
          </div>
          <div class="mt-4 pb-5">
            <p class="mb-0 font-weight-bold">Sincerely,</p>
            <p class="mb-0 font-weight-bold">
              <span id="mobile_full_name">{{fullName}}</span>,
              <span id="mobile_company_role">{{companyRole}}</span>
            </p>
            <div>
              <img id="mobile_personal_avatar_src" [src]="avatarUrl" alt="" class="img-fluid rounded-circle" style="max-height: 40px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

