<app-widget-loader-site *ngIf="showLoader"></app-widget-loader-site>
<div class="page-head">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 pad-left">
          <h4 class="page-title pb-3 pt-2"> Apps Connections </h4>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
  <div class="row pad-around">
    <div class="col-12 col-md-6">
      <div class="card shadow con-card ">
        <div class="card-body">
          <div class="text-right">
            <div class="d-inline">
              <a href="#." class="text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="connectedFacebook">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-left" x-placement="left-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-2px, 0px, 0px);">
                <!-- Dropdown menu links -->
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#deleteFBModel" style="color: #FE2F2F;">Disconnect</button>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-3 align-items-center justify-content-between">
            <img src="assets/media/con1.png" alt="" class="img-fluid">
            <div *ngIf="connectedFacebook">
              <a class="text-green"><i class="fas fa-check-circle pr-1"></i>
                Connected</a>
            </div>
            <div *ngIf="notConnectedFacebook">
              <button type="button" class="btn btn-white" data-toggle="modal" data-target="#facebookModel"><i class="fas fa-plus pr-1"></i> Connect</button>
            </div>
          </div>
          <h4 class="font-weight-bold">Facebook</h4>
          <p>{{facebookBusinessName}}</p>
        </div>
      </div>
    </div>

  <div class="col-12 col-md-6">
      <div class="card shadow con-card">
        <div class="card-body">
          <div class="text-right">
            <div class="d-inline">
              <a href="#." class="text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="connectedGoogle">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-left" x-placement="left-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-2px, 0px, 0px);">
                <!-- Dropdown menu links -->
                <button class="dropdown-item" type="button"  data-toggle="modal" data-target="#deleteModel" style="color: #FE2F2F;">Disconnect</button>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-3 align-items-center justify-content-between">
            <img src="assets/media/googleplaces.png" alt="" class="img-fluid">
            <div *ngIf="connectedGoogle">
              <a class="text-green"><i class="fas fa-check-circle pr-1"></i>
                Connected</a>
            </div>
            <div *ngIf="notConnected">
              <button type="button" class="btn btn-white" data-toggle="modal" data-target="#googleModel"><i class="fas fa-plus pr-1"></i> Connect</button>
            </div>
          </div>
          <h4 class="font-weight-bold">Google</h4>
          <p>{{googleBusinessName}}</p>
        </div>
      </div>
    </div>
  </div>
<!--Google Analytics-->
  <div class="row pad-around1">
    <div class="col-12 col-md-6">
      <div class="card shadow con-card">
        <div class="card-body">
          <div class="text-right">
            <div class="d-inline">
              <a href="#." class="text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="connectedGoogleAnalytics">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-left" x-placement="left-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-2px, 0px, 0px);">
                <!-- Dropdown menu links -->
                <button class="dropdown-item" type="button"  data-toggle="modal" data-target="#deleteGoogleModel" style="color: #FE2F2F;">Disconnect</button>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-3 align-items-center justify-content-between">
            <img src="assets/media/google-analytics.jpg" alt="" class="img-fluid">
            <div *ngIf="notDetectedGoogleAnalytics">
              <a class="text-red">
                Not Detected</a>
            </div>
            <div *ngIf="connectedGoogleAnalytics">
              <a class="text-green"><i class="fas fa-check-circle pr-1"></i>
                Connected</a>
            </div>
            <div *ngIf="notConnectedAnalytics">
              <button type="button" class="btn btn-white" data-toggle="modal" data-target="#google-analytics-oauth"><i class="fas fa-plus pr-1"></i> Connect</button>
            </div>
          </div>
          <h4 class="font-weight-bold">Google Analytics</h4>
          <p>{{googleBusinessName}}</p>
        </div>
      </div>
    </div>
    <!--CTM-->
    <div class="col-12 col-md-6">
      <div class="card shadow con-card">
        <div class="card-body">
          <div class="text-right">
            <div class="d-inline">
              <a href="#." class="text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="connectedCTM">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-left" x-placement="left-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-2px, 0px, 0px);">
                <!-- Dropdown menu links -->
                <button class="dropdown-item" type="button"  data-toggle="modal" data-target="#deleteCTMModel" style="color: #FE2F2F;">Disconnect</button>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-3 align-items-center justify-content-between">
            <img src="assets/media/svg-inner-2.jpg" alt="" class="img-fluid">
            <div *ngIf="connectedCTM">
              <a class="text-green"><i class="fas fa-check-circle pr-1"></i>
                Connected</a>
            </div>
            <div *ngIf="notConnectedCTM">
              <button type="button" class="btn btn-white" data-toggle="modal" data-target="#connect-ctm"><i class="fas fa-plus pr-1"></i> Connect</button>
            </div>
          </div>
          <h4 class="font-weight-bold">Call Tracking Metrices</h4>
          <p>{{accountName}}</p>
        </div>
      </div>
    </div>
  </div>
<!--Google ads-->
  <div class="row pad-around1">
    <div class="col-12 col-md-6">
      <div class="card shadow con-card">
        <div class="card-body">
          <div class="text-right">
            <div class="d-inline">
              <a href="#" class="text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="connectedGoogleAds">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-left" x-placement="left-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-2px, 0px, 0px);">
                <!-- Dropdown menu links -->
                <button class="dropdown-item" type="button"  data-toggle="modal" data-target="#deleteGoogleAdsModel" style="color: #FE2F2F;">Disconnect</button>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-3 align-items-center justify-content-between">
            <img src="assets/media/googleAdwords.jpg" alt="" class="img-fluid">
            <div *ngIf="notDetectedGoogleAnalytics">
              <a class="text-red">
                Not Detected</a>
            </div>
            <div *ngIf="connectedGoogleAds">
              <a class="text-green"><i class="fas fa-check-circle pr-1"></i>
                Connected</a>
            </div>
            <div *ngIf="notConnectedAds">
              <button type="button" class="btn btn-white" data-toggle="modal" data-target="#google-ads-oauth"><i class="fas fa-plus pr-1"></i> Connect</button>
            </div>
          </div>
          <h4 class="font-weight-bold">Google Adwords</h4>
          <p>{{googleBusinessName}}</p>
        </div>
      </div>
    </div>

    <!--Facebook Ads-->
    <!--<div class="col-12 col-md-6">
      <div class="card shadow con-card ">
        <div class="card-body">
          <div class="text-right">
            <div class="d-inline">
              <a href="#." class="text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="connectedFacebookAds">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-left" x-placement="left-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-2px, 0px, 0px);">
                &lt;!&ndash; Dropdown menu links &ndash;&gt;
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#deleteFBModel" style="color: #FE2F2F;">Disconnect</button>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-3 align-items-center justify-content-between">
            <img src="assets/media/icons/fb-ads.png" alt="" class="img-fluid img1">
            <div *ngIf="connectedFacebookAds">
              <a class="text-green"><i class="fas fa-check-circle pr-1"></i>
                Connected</a>
            </div>
            <div *ngIf="notConnectedFacebookAds">
              <button type="button" class="btn btn-white" data-toggle="modal" data-target="#facebookAdsModel"><i class="fas fa-plus pr-1"></i> Connect</button>
            </div>
          </div>
          <h4 class="font-weight-bold">Facebook Ads</h4>
          &lt;!&ndash;<p>{{facebookBusinessName}}</p>&ndash;&gt;
        </div>
      </div>
    </div>-->


  </div>
  <!-- Modal -->
  <div class="modal fade" id="googleModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="remove-business-modal">
            <h3 class="action-title">Connect Google</h3>
            <div class="user-guidance-message">Enter Your Your Business Name to connect your app. By Connecting your app here you can manage your reviews.</div>
            <form class=" validate-form bg-white px-4 pb-5" [formGroup]="linkGoogleForm" autocomplete="off">
              <div class=" mb-3">
                <label for="autocomplete"></label>
                <input type="text" class="input" [options]='options'
                                                         (setAddress)="getAddress($event)" id="autocomplete" angularGooglePlace
                                                         placeholder="Enter Business Name" value="" data-required="true"
                                                         autocomplete="off" formControlName="link">
                <mat-error *ngIf="isControlHasError('link','required')">
                  <strong>URL is Required*</strong>
                </mat-error>
                <mat-error *ngIf="isControlHasError('link','minLength')">
                  <strong>minimum field length is 3</strong>
                </mat-error>
                <mat-error *ngIf="isControlHasError('link','maxLength')">
                  <strong>maximum field length is 320</strong>
                </mat-error>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="submit()"> <span *ngIf="btnText">Connect</span><div class="spinner-border text-white" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebookModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="social-module">
            <div class="social-modal-content">
              <h3 class="">Authorize Heroes of Digital on Facebook</h3>
              <div class="social-list">
                <label>By connecting your account, you will be able to:</label>
                <ul>
                  <li>Monitor activity and manage reviews.</li>
                  <li>Get More reviews from your customers</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary connect-me" (click)="connectFacebook()">Connect Facebook</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebookAdsModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="social-module">
            <div class="social-modal-content">
              <h3 class="">Authorize Heroes of Digital on Facebook</h3>
              <div class="social-list">
                <label>By connecting your account, you will be able to:</label>
                <ul>
                  <li>Monitor Ads activity and manage reports.</li>
                  <li>Get Better Ads performance from your customers</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary connect-me" (click)="connectFacebookAds()">Connect Facebook</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="remove-business-modal">
            <div class="remove-action-note">
              <img src="https://staging-api.heroesofdigital.io/public/images/delete-listing.png">
              <h3 style="font-size: 28px;margin-bottom: 25px;font-weight: 300;color: #000;">Are you sure you want to remove <br> Google?</h3>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger delete-app" (click)="deleteConnection('Google Places')"><span *ngIf="btnText">Delete</span><div class="spinner-border text-white" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Google analytics-->
  <div class="modal fade" id="deleteGoogleModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="remove-business-modal">
            <div class="remove-action-note">
              <img src="https://staging-api.heroesofdigital.io/public/images/delete-listing.png">
              <h3 style="font-size: 28px;margin-bottom: 25px;font-weight: 300;color: #000;">Are you sure you want to remove <br> Google Analytics?</h3>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger delete-app" (click)="deleteGoogleAnalyticsConnection('Google Analytics')"><span *ngIf="btnText">Delete</span><div class="spinner-border text-white" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Google Adwords-->
  <div class="modal fade" id="deleteGoogleAdsModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="remove-business-modal">
            <div class="remove-action-note">
              <img src="https://staging-api.heroesofdigital.io/public/images/delete-listing.png">
              <h3 style="font-size: 28px;margin-bottom: 25px;font-weight: 300;color: #000;">Are you sure you want to remove <br> Google Adwords?</h3>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger delete-app" (click)="deleteGoogleAdwordsConnection('Google Adwords')"><span *ngIf="btnText">Delete</span><div class="spinner-border text-white" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal CTM analytics-->
  <div class="modal fade" id="deleteCTMModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="remove-business-modal">
            <div class="remove-action-note">
              <img src="https://staging-api.heroesofdigital.io/public/images/delete-listing.png">
              <h3 style="font-size: 28px;margin-bottom: 25px;font-weight: 300;color: #000;">Are you sure you want to remove <br> Call Metrices account?</h3>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger delete-app" (click)="deleteCTMConnection()"><span *ngIf="btnText">Delete</span><div class="spinner-border text-white" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteFBModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="remove-business-modal">
            <div class="remove-action-note">
              <img src="https://staging-api.heroesofdigital.io/public/images/delete-listing.png">
              <h3 style="font-size: 28px;margin-bottom: 25px;font-weight: 300;color: #000;">Are you sure you want to remove <br> Facebook?</h3>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dismiss" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger delete-app" (click)="deleteConnection('Facebook')"><span *ngIf="btnText">Delete</span><div class="spinner-border text-white" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div></button>
        </div>
      </div>
    </div>
  </div>


</div>

<!--//////////////////////////////////////////////////////////////////-->
<!--////////////////this is google analytics modal///////////////////-->
<!--//////////////////////////////////////////////////////////////////-->

<div class="modal fade" id="google-analytics-oauth">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--       Modal body -->
      <div class="modal-body">
        <div class="OAuth-modal-body text-center">
          <div class="auth-logo pb-3">
            <img class="pb-3" src="assets/media/google-analytics.jpg" alt="google-analytics" />
            <h3 class="google-modal-h3">Sign In to Google Analytics</h3>
          </div>
          <div>
            <h4 class="sign-in-gg">Sign in to your Google Analytics account to authorize Heroes of Digital.
              Once authorized, you will be able to:
            </h4>
            <ul>
              <li class="view-google">
                View Google Analytics data related to your website on the Heroes of Digital app.
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group text-center pt-2">
          <button type="button" (click)="openGoogle()" id="loginGoogleAnalytics" class="btn btn-google-analytics"><i class="fab fa-google mr-2" aria-hidden="true"></i>Sign In to Google Analytics</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////-->
<!--////////////////this is google analytics modal///////////////////-->
<!--//////////////////////////////////////////////////////////////////-->
<!-- Connect CTM Modal -->
<div class="modal fade" id="connect-ctm" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Credentials</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="bg-white px-4 pb-1 form-signin validate-me" [formGroup]="submitCTMForm" autocomplete="off">
          <div class="alert alert-danger" role="alert" *ngIf="alertError">
            {{errorContent}}
          </div>
          <div class="form-group">
            <label for="eml">Email:</label>
            <input type="email" class="form-control" id="eml" formControlName="userEmail" placeholder="Enter Email">
            <mat-error *ngIf="isControlHasNewError('userEmail','required')">
              <strong>Required* </strong>
            </mat-error>
            <mat-error *ngIf="isControlHasNewError('userEmail','email')">
              <strong>invalid field </strong>
            </mat-error>
            <mat-error *ngIf="isControlHasNewError('userEmail','minlength')">
              <strong> minimum field length is 3</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasNewError('userEmail','maxlength')">
              <strong> maximum field length is 320</strong>
            </mat-error>
            <span class="help-block hide-me"><small></small></span>
          </div>
          <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" class="form-control" id="pass" formControlName="userPassword" placeholder="Enter Password">
            <mat-error *ngIf="isControlHasNewError('userPassword','required')">
              <strong>Required* </strong>
            </mat-error>
            <mat-error *ngIf="isControlHasNewError('userPassword','email')">
              <strong>invalid field </strong>
            </mat-error>
            <mat-error *ngIf="isControlHasNewError('userPassword','minlength')">
              <strong> minimum field length is 3</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasNewError('userPassword','maxlength')">
              <strong> maximum field length is 320</strong>
            </mat-error>
            <span class="help-block hide-me"><small></small></span>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-info login-button" (click)="submitForm()">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myNewModel" id="openModal" #myNewModel [hidden]="true"></button>

<div class="modal fade" id="myNewModel" role="dialog" data-toggle="modal" data-target="#myNewModel">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Facebook Page</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h3 class="heading-size">Following pages found to be connected with your Facebook Account.</h3>
        <div class="page-panel selected-page" *ngFor="let page of pages">
          <div class="row">
            <div class="col-10">
              <div>
                <div class="twoColumn1">
                  <img class="img-left" [src]="page.logo" />
                </div>
                <div class="twoColumn2">
                  <p class="p-style font-bold"> {{page.name}}</p>
                  <p class="p-style font-p">Likes {{page.page_likes_count}}</p>
                  <p class="p-style font-p">{{page.phone}}</p>
                  <p class="p-style font-p">{{page.address}}</p>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="add-icon mar-top">
                <a href="javascript:void(0);" class="add-me" data-page-id="1623446084602339" (click)="selectPage(page.access_token, page.id)"><i class="fa fa-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn" data-toggle="modal" data-target="#myNewCTMModel" id="openCTMModal" #myNewCTMModel [hidden]="true"></button>
<div class="modal fade" id="myNewCTMModel" role="dialog" data-toggle="modal" data-target="#myNewCTMModel">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Call Metrices Account</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-padding">
        <div class="page-panel page-panel-ctm selected-page" *ngFor="let account of accounts">
          <div class="row">
            <div class="col-10">
              <div class="box">
                <img class="mr-2" src="assets/media/website.png">
                <span style="">{{account.name}}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="add-icon mar-top">
                <a href="javascript:void(0);" class="add-me" (click)="getAccount(account.id, account.name)"><i class="fa fa-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Google Ads-->
<div class="modal fade" id="google-ads-oauth">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="OAuth-modal-body text-center">
          <div class="auth-logo">
            <img src="assets/media/googleAdwords.jpg" alt="" style="height: 60px;width: 60px">
            <h3 class="google-modal-h3">Sign In to Google Adwords</h3>
          </div>
          <div class="content">
            <div>
              <h4>Select an existing account or connect a new Google Account.</h4>
            </div>
            <div>
              <ul class="list-group list-item-styling">
                <li class="list-group-item"><i class="fas fa-check mr-2"></i>Track your PPC campaigns from one place</li>
                <li class="list-group-item"><i class="fas fa-check mr-2"></i>Easily report on the performance of your campaigns</li>
              </ul>
            </div>
            <div class="text-center py-3">
              <button type="button" (click)="openGoogleAds()" class="btn btn-google-ads-green" data-toggle="modal" data-target="#google-analytics-oauth"><i class="fab fa-google mr-2" aria-hidden="true"></i>Sign in to Google Adwords</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
