
<!--////////////////////////////////////////////////////-->
<!--////////////////////////////////////////////////////-->
<!--////////////////////////////////////////////////////-->
<div class="container-fluid py-5">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4 pb-4">
          <div class="card bg-color shadow">
            <div class="card-body text-center position-relative w-100 h-100">
              <img src="assets/media/wid1-img1.png" class="position-absolute img-align-left" alt="">
              <img src="assets/media/wid1-img2.png" class="position-absolute img-align-right" alt="">
              <div class="align-items-center align-items-center justify-content-center pt-5 leads-padding-bottom">
                <p class="card-text text-white font-weight-bold">Total Leads</p>
              </div>
              <div class="d-flex justify-content-center align-items-center arrow-num-pad-btm">
                <div class="img-arrow-padding-right">
                  <img class="arrow-dimensions" src="assets/media/arrow-white.png">
                </div>
                <div>
                  <h3 class="text-white h3-font-size">2000</h3>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div  class="img-arrow-padding-right">
                  <p class="text-white p-percent-value-green">+3.48%</p>
                </div>
                <div>
                  <p class="text-white h5-fonts-size">This month</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 pb-4">
          <div class="card bg-color1 shadow">
            <div class="card-body seo-padding">
              <p class="card-text font-weight-bold">SEO Rankings Improvements</p>
              <div class="d-flex align-items-center pb-1 arrow-num-pad-btm">
                <div class="img-arrow-padding-right seo-arrow-div-padding-bottom">
                  <img class="arrow-dimensions" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                  <h3 class="h3-font-size h3-color-green">120</h3>
                </div>
              </div>
              <div class="d-flex">
                <div class="img-arrow-padding-right">
                  <p class="text-white p-percent-value-green">+3.48%</p>
                </div>
                <div>
                  <p class="h5-fonts-size">Since last month</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 pb-4">
          <div class="card bg-color1 shadow">
            <div class="card-body seo-padding">
              <div class="d-flex">
                <div>
                  <p class="card-text font-weight-bold total-review-font-size">Total Reviews</p>
                </div>
                <div class="ml-auto background-style w-50 position-relative overflow-hidden">
                  <h1 class="float-left heading-padding-right">4</h1>
                  <p class="small-scrn-size">Overall Rating</p>
                  <img src="assets/media/rating-dashboard-img.png" class="position-absolute img-position">
                </div>
              </div>

              <div class="d-flex align-items-center pb-1 arrow-num-pad-btm arrow-num-pad-top">
                <div class="img-arrow-padding-right seo-arrow-div-padding-bottom">
                  <img class="arrow-dimensions" src="assets/media/arrow-red.png" alt="">
                </div>
                <div>
                  <h3 class="h3-font-size h3-color-red">57</h3>
                </div>
              </div>
              <div class="d-flex padding-bottom">
                <div class="img-arrow-padding-right">
                  <p class="text-white p-percent-value-red">-2.12%</p>
                </div>
                <div>
                  <p class="h5-fonts-size">Since last month</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="card bg-color1 shadow">
            <div class="card-body seo-padding">
              <div class="d-flex">
                <div class="padding-bottom-spend">
                  <p class="card-text font-weight-bold">Ad Spend</p>
                </div>
              </div>
              <div class="d-flex align-items-center pb-1 arrow-num-pad-btm arrow-num-pad-top">
                <div class="img-arrow-padding-right seo-arrow-div-padding-bottom">
                  <img class="arrow-dimensions" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                  <h3 class="h3-font-size h3-color-green">$13,200</h3>
                </div>
              </div>
              <div class="d-flex padding-bottom">
                <div class="img-arrow-padding-right">
                  <p class="text-white p-percent-value-green">+3.48%</p>
                </div>
                <div>
                  <p class="h5-fonts-size">Since last month</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="card bg-color2 shadow">
            <div class="card-body seo-padding">
              <img src="assets/media/return.png" class="position-absolute reward-img-align-right" alt="">
              <div class="d-flex">
                <div class="padding-bottom-spend">
                  <p class="card-text font-weight-bold h3-color-blue">Revenue</p>
                </div>
              </div>
              <div class="d-flex align-items-center pb-1 arrow-num-pad-btm arrow-num-pad-top">
                <div class="img-arrow-padding-right seo-arrow-div-padding-bottom">
                  <img class="arrow-dimensions" src="assets/media/arrow-blue.png" alt="">
                </div>
                <div>
                  <h3 class="h3-font-size h3-color-blue">$70,777</h3>
                </div>
              </div>
              <div class="d-flex padding-bottom">
                <div class="img-arrow-padding-right">
                  <p class="text-white p-percent-value-blue">+3.48%</p>
                </div>
                <div>
                  <p class="h3-color-blue h5-fonts-size">Month to Date</p>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <img class="w-100 graph-bar-height" src="assets/media/graph1-bar.png" alt="">
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <img class="w-100" src="assets/media/graph1-month.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="card bg-color1 shadow">
            <div class="card-body seo-padding">
              <div class="d-flex">
                <div class="padding-bottom-spend">
                  <p class="card-text font-weight-bold">Cost per lead</p>
                </div>
              </div>
              <div class="d-flex align-items-center pb-1 arrow-num-pad-btm arrow-num-pad-top">
                <div class="img-arrow-padding-right seo-arrow-div-padding-bottom">
                  <img class="arrow-dimensions" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                  <h3 class="h3-font-size h3-color-green">$325</h3>
                </div>
              </div>
              <div class="d-flex padding-bottom">
                <div class="img-arrow-padding-right">
                  <p class="text-white p-percent-value-green">+3.48%</p>
                </div>
                <div>
                  <p class="h5-fonts-size">Since last month</p>
                </div>
              </div>
              <div class="w-100 h-100">
                <figure class="highcharts-figure">
                  <div id="container3" style="height: 200px;"></div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card hovercard h-100 shadow">
        <div class="cardheader align-items-center justify-content-center">
          <div class="logo-padding-bottom">
            <img class="logo-dimensions" alt="" src="assets/media/login-icon.png">
          </div>
          <div>
            <p class="text-white">Your Client Success Manager</p>
          </div>
        </div>
        <div class="avatar">
          <img alt="" src="assets/media/login-person.png">
        </div>
        <div class="info pt-5 media-screen-padding">
          <div class="title">
            <h3 class="client-name">Roy Chen</h3>
          </div>
          <div class="padding-bottom-question">Have a question?</div>
        </div>
        <div class="bottom">
          <button type="button" class="btn btn-contact-green"><i class="fab fa-whatsapp pr-4"></i>Chat with Roy</button>
        </div>
        <div>
          <button type="button" class="btn btn-email-white"><i class="far fa-envelope pr-4"></i>Email</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-3">
      <div class="card hovercard h-100 shadow">
        <div class="card-header text-left card-header-setting">
          <div class="d-flex">
            <div>
              <p class="text-muted mb-0">Overview</p>
            </div>
            <div class="ml-auto">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>
          <h5 class="h5-fonts-size">Leads</h5>
        </div>
        <div class="card-body text-center">
          <div class="btn-group pb-5" role="group" aria-label="Basic example">
            <button type="button" class="btn purple-cta-btn px-4 filter-font-size">Filter by CTA</button>
            <button type="button" class="btn btn-white border-0 px-4 filter-font-size">Filter by Channel</button>
          </div>
          <img src="assets/media/Group-circle.png" alt="" style="" class="leads-img">
          <div class="circle-info">
            <div>
              <div class="ml-4 circle-small green-circle mr-2"></div>
              <span class="text-muted mr-4">Whatsapp</span>
              <span>2.6K</span>
            </div>
            <div>
              <div class="circle-small blue-circle mr-2"></div>
              <span class="text-muted mr-4">Email</span>
              <span>671</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card hovercard h-100 shadow">
        <div class="card-header text-left bg-white">
          <div class="d-flex">
            <div>
              <p class="text-muted mb-0">Overview</p>
            </div>
            <div class="ml-auto">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>
          <h5 class="h5-fonts-size">Funnels</h5>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card hovercard h-100 shadow">
        <div class="card-header text-left card-header-setting">
          <div class="d-flex">
            <div>
              <p class="text-muted mb-0">Overview</p>
            </div>
            <div class="ml-auto">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>
          <h5 class="h5-fonts-size">SEO Rankings</h5>
        </div>
        <div class="card-body pb-5">
          <div class="table-responsive">
            <table class="table table-borderless table-striped table">
              <thead class="bg-light table-header-font-size">
              <tr>
                <th scope="col" class="headerSortDown headerSortUp ">Keyword</th>
                <th scope="col">Google</th>
                <th scope="col">Google Change</th>
                <th scope="col">Google URL</th>
              </tr>
              </thead>
              <tbody class="table-row-font-size">
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              <tr>
                <td>music school in singapore</td>
                <td>1st</td>
                <td>1</td>
                <td>[home page]</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-3">
      <div class="row">
        <div class="col-12 pb-4">
          <div class="card shadow">
            <div class="card-header text-left card-header-setting">
              <div class="d-flex">
                <div>
                  <p class="text-muted mb-0">Overview</p>
                </div>
                <div class="ml-auto">
                  <i class="fas fa-chevron-up"></i>
                </div>
              </div>
              <h5 class="h5-fonts-size">Social Media Followers</h5>
            </div>
            <div class="card-body">

              <div class="d-flex justify-content-between py-3 border-bottom">
                <div>
                  <i class="fb-bg fab fa-facebook-f text-center"></i>
                </div>
                <div>
                  <h5 class="font-weight-bold h5-fonts-size h5-sml-scrn-size">12,345</h5>
                </div>
                <div>
                  <p class="social">Likes</p>
                </div>
                <div>
                  <p class="h3-color-green font-weight-bold p-sml-scrn-size">+3.48%</p>
                </div>
                <div>
                  <img class="arrow-dimensions-social" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                </div>
              </div>
              <div class="d-flex justify-content-between py-4 border-bottom ">
                <div>
                  <i class="insta-bg fab fa-instagram text-center"></i>
                </div>
                <div>
                  <h5 class="font-weight-bold h5-fonts-size">6,524</h5>
                </div>
                <div>
                  <p class="social">Followers</p>
                </div>
                <div>
                  <p class="h3-color-red font-weight-bold p-sml-scrn-size">-2.11%</p>
                </div>
                <div>
                  <img class="arrow-dimensions-social" src="assets/media/arrow-red.png" alt="">
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card shadow h-100">
        <div class="card-header text-left card-header-setting">
          <div class="d-flex">
            <div>
              <p class="text-muted mb-0">Overview</p>
            </div>
            <div class="ml-auto">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>
          <h5 class="h5-fonts-size">Website Traffic Source</h5>
        </div>
        <div class="card-body">
          <div class="row pb-5">
            <div class="col-6">
              <img class="w-100 h-100" src="assets/media/web-traffic.png" alt="">
            </div>
            <div class="col-6">
              <img class="w-100 h-100" src="assets/media/bars-month.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-12">
      <div class="card landing-status w-100 h-100 overflow-hidden">
        <div class="card-header text-left card-header-setting">
          <div class="d-flex">
            <div>
              <p class="text-muted mb-0">Overview</p>
            </div>
            <div class="ml-auto">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>
        </div>
        <div class="card-body mt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <img class="google-img-dimensions" src="assets/media/Google-logo.svg" alt="">
            </div>
            <div class="box-design box-bg-color shadow">
              <p class="font_14">Conversions</p>
              <h2 class="h3-color-red font-weight-bold google-no-size">305</h2>
            </div>
            <div class="box-design box-design1 shadow">
              <p class="font_14">Cost Per Conversion</p>
              <h3 class="h3-yellow-clr google-no-size">$39.78</h3>
              <div class="d-flex">
                <div>
                  <img class="arrow-dimensions-social mr-2" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                  <p class="h3-color-green">+0.2%</p>
                </div>
              </div>
            </div>
            <div class="box-design box-design2 shadow">
              <p class="text-white font_14">Search Impression Share(%)</p>
              <h3 class="text-white google-no-size">12.2%</h3>
              <div class="d-flex">
                <div>
                  <img class="arrow-dimensions-social mr-2" src="assets/media/arrow-white.png" alt="">
                </div>
                <div>
                  <p class="text-white">+0.5%</p>
                </div>
              </div>
            </div>
            <div class="box-design box-design3 shadow">
              <p class="font_14">Clicks</p>
              <h3 class="clicks-clr google-no-size">2,777</h3>
              <div class="d-flex">
                <div>
                  <img class="arrow-dimensions-social mr-2" src="assets/media/arrow-red.png" alt="">
                </div>
                <div>
                  <p class="h3-color-red">-11%</p>
                </div>
              </div>
            </div>
            <div class="box-design box-design3 shadow">
              <p class="font_14">Impressions</p>
              <h3 class="clicks-clr google-no-size">130,214</h3>
              <div class="d-flex">
                <div>
                  <img class="arrow-dimensions-social mr-2" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                  <p class="h3-color-green">+15%</p>
                </div>
              </div>
            </div>
            <div class="box-design box-design4 shadow">
              <p class="blue-color-text font_14">Ad Spend</p>
              <h3 class="blue-color-text google-no-size">$12,111.77</h3>
              <p class="blue-color-text social">Prev Month $11,999.23</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9">
              <img src="assets/media/fb-google-stat.png" class="w-100 pb-5" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card landing-status w-100 h-100 overflow-hidden">
        <div class="card-header text-left card-header-setting">
          <div class="d-flex">
            <div>
              <p class="text-muted mb-0">Overview</p>
            </div>
            <div class="ml-auto">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>
        </div>
        <div class="card-body mt-0">
          <div class="d-flex justify-content-lg-start align-items-center">
            <div class="mr-5">
              <img class="fb-img-dimensions" src="assets/media/fb-logo.png" alt="">
            </div>
            <div class="box-design box-bg-color shadow mr-4">
              <p class="font_14">Conversions</p>
              <h2 class="h3-color-red font-weight-bold google-no-size">10,020</h2>
            </div>
            <div class="box-design box-design3 shadow mr-4">
              <p class="font_14">Clicks</p>
              <h3 class="clicks-clr google-no-size">3,222</h3>
              <div class="d-flex">
                <div>
                  <img class="arrow-dimensions-social mr-2" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                  <p class="h3-color-green">+0.2%</p>
                </div>
              </div>
            </div>
            <div class="box-design box-design1 shadow mr-4">
              <p class="font_14">Engagements (Last 30 days)</p>
              <h3 class="h3-yellow-clr google-no-size">3,616</h3>
              <div class="d-flex">
                <div>
                  <img class="arrow-dimensions-social mr-2" src="assets/media/arrow-green.png" alt="">
                </div>
                <div>
                  <p class="h3-color-green">+0.5%</p>
                </div>
              </div>
            </div>
            <div class="box-design box-design4 shadow mr-4">
              <p class="blue-color-text font_14">Ad Spend</p>
              <h3 class="blue-color-text google-no-size">$14,726.25</h3>
              <p class="blue-color-text social">Prev Month $11,999.23</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9">
              <img src="assets/media/fb-google-stat.png" class="w-100 pb-5" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
