

<div class="limiter">

  <div class="container">
    <div class="row" style="min-height: 100vh; align-items: center;">

      <div class="col-lg-5 col-md-8 col-sm-12 mx-auto py-5">
        <form class=" validate-form bg-white px-4 pb-5" [formGroup]="forgotPasswordForm" autocomplete="off">
          <div class="login-img">
            <div class="login-img-center">

              <img src="./assets/media/logos/my-logo.png">
            </div>
          </div>
          <app-auth-notice></app-auth-notice>
          <h2 class="login-heading my-4">Reset Your Password</h2>
          <div class=" mb-3">
            <h6 class="dark-color m-0 font-14"><label for="email">Email *</label></h6>
            <input class="input" type="email" formControlName="email" autocomplete="off" id="email">
            <mat-error *ngIf="isControlHasError('email','required')">
              <strong>Required*</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','email')">
              <strong>invalid field</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','minLength')">
              <strong>minimum field length is 3</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','maxLength')">
              <strong>maximum field length is 320</strong>
            </mat-error>
          </div>

          <div class="mt-3">
            <button class="form-submit-btn btn full-btn default-color" type="button" (click)="submit()" id="kt_login_signin_submit">
              <span *ngIf="btnText">Send Reset Email</span>
              <div class="spinner-border text-warning" role="status" *ngIf="loading">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>

          <div class="text-center pt-3">
							<span class="txt1">
								Already have an account?
							</span>
            <a class="txt2 default-color text-underline" href="javascript:;" routerLink="/auth/login">
              Sign in
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

